{% extends 'base.html' %}

{% block content %}
<h2>All Shows</h2>

<div class="grid">
  {% for show in shows %}
    <div class="card" onclick="openModal('{{ show.id }}')">
        <img src="{{ show.image.url }}">
        <h4>{{ show.title }}</h4>
    </div>

    <div id="modal-{{ show.id }}" class="modal">
        <div class="modal-content">
            <h2>{{ show.title }}</h2>
            <p style="font-size:14px; color:gray;">
                Uploaded by: {{ show.user.first_name|default:show.user.username }}
            </p>
            <p>{{ show.description }}</p>

            {% if show.watch_link %}
                <a href="{{ show.watch_link }}" target="_blank">
                    <button>Watch Now</button>
                </a>
            {% endif %}

            {% if show.user == user %}
                <div style="margin-top:15px;">
                    <a href="{% url 'update_show' show.id %}">
                        <button>Edit</button>
                    </a>

                    <a href="{% url 'delete_show' show.id %}">
                        <button style="background:red; color:white;">
                            Delete
                        </button>
                    </a>
                </div>
            {% endif %}

            <button onclick="closeModal('{{ show.id }}')">Close</button>
        </div>
    </div>

  {% empty %}
    <p>No shows uploaded yet.</p>
  {% endfor %}
</div>

<section class="contact-section" id="contact-us">
    <h3>Contact Us</h3>
    <p>If you have any questions or feedback about Fav Show Vault, feel free to reach out:</p>
    <p>Email: <a href="mailto:support@favshowvault.com">support@favshowvault.com</a></p>
</section>

{% endblock %}