{% extends 'base.html' %}

{% block content %}
<div class="form-section">
    <div class="form-box">
        <h2>Register</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div style="margin-top:20px;">
                <img id="preview" style="max-width:150px;border-radius:50%;display:none;">
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</div>

<script>

const imageInput = document.querySelector('input[type="file"]');

imageInput.addEventListener('change', function(event){

    const file = event.target.files[0];

    if(file){

        const preview = document.getElementById('preview');

        preview.src = URL.createObjectURL(file);

        preview.style.display = "block";

    }

});

</script>

{% endblock %}